

.aple{
    text-decoration: none;
    font-size:50px;
    color:black;
}
.asus{
    text-decoration: none;
    font-size:40px;
    color:black;
}
.acer{
    text-decoration: none;
    font-size:40px;
    color:black;
}
.cont{
     text-decoration: none;
    font-size:50px;
    color:black;
}
