

.aple{
    text-decoration: none;
    font-size:40px;
    color:black;
}
.asus{
    text-decoration: none;
    font-size:40px;
    color:black;
}
.acer{
    text-decoration: none;
    font-size:40px;
    color:black;
}
.cont{
     text-decoration: none;
    font-size:40px;
    color:black;
}
header{
    background-color: #8a7f7f;
}
header a{
    border: 1px solid black;
    border-radius: 10px;
    padding: 16px;
    margin: 10px;
    background-color: white;
}
.otz{
    text-decoration: none;
    font-size: 40px;
    color: black;
}
main p{
    font-size: 100px;
}

    

